.bold {
  font-weight: bolder;
  font-size: 0.9em;
}

@media (max-width: 1307px) {
  .exercise-text {
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .eating {
    margin-top: 1em;
  }
}

@media (max-width: 370px) {
  .myChart {
    max-width: 200px;
  }
}
