<div
  class="flex flex-row items-center justify-center text-center bg-gradient-to-r from-blue-500 to-blue-700 pb-3 shadow-lg"
>
  <h1 class="title text-4xl font-extrabold text-white mt-4">Delete Exercise</h1>
  <button
    class="absolute top-3 right-3 bg-red-500 hover:bg-red-700 text-xs font-medium py-1 px-2 rounded-full text-white"
    (click)="closeDeleteExercise()"
  >
    X
  </button>
</div>

<div class="grid place-items-center h-full mx-8 -mt-3">
  <div class="flex flex-col items-start bg-white p-5 rounded-lg shadow-lg">
    <h1 class="text-lg font-bold text-blue-800 mb-2">Muscle Group:</h1>
    <select
      [(ngModel)]="muscleGroup"
      (change)="onMuscleGroupChange(muscleGroup)"
      class="w-full block rounded-lg border p-2.5 text-sm bg-white text-blue-950 focus:ring-2 focus:ring-blue-500 shadow-lg transition duration-500 ease-in-out transform hover:-translate-y-0.5 hover:scale-105 mb-5"
    >
      <option [value]="'Choose a Muscle Group'" selected disabled>
        Choose a Muscle Group
      </option>
      @for (muscle of muscleGroups; track muscle) {
        <option [value]="muscle">
          {{ muscle }}
        </option>
      }
    </select>

    <h1 class="text-lg font-bold text-blue-800 mb-2">Exercise:</h1>
    <select
      [(ngModel)]="exercise"
      [disabled]="muscleGroup === 'Choose a Muscle Group'"
      class="w-full block rounded-lg border p-2.5 text-sm bg-white text-blue-950 focus:ring-2 focus:ring-blue-500 shadow-lg transition duration-500 ease-in-out transform mb-5"
      [ngClass]="{
        'hover:-translate-y-0.5 hover:scale-105':
          muscleGroup !== 'Choose a Muscle Group',
      }"
    >
      <option [value]="{}" selected>Choose an Exercise</option>
      @for (exercise of exercises; track exercise) {
        <option [value]="exercise" [ngValue]="exercise">
          {{ exercise.exerciseName }}
        </option>
      }
    </select>
  </div>
</div>

<div class="flex justify-center mb-8">
  <button
    class="rounded-lg border p-2.5 w-32 ml-2 text-sm bg-gradient-to-r from-orange-500 to-orange-700 text-white hover:from-orange-700 hover:to-orange-900 shadow-lg transition duration-500 ease-in-out transform hover:-translate-y-0.5 hover:scale-105"
    (click)="deleteExercise()"
    [disabled]="!muscleGroup || !exercise.exerciseName"
    [class.opacity-50]="!muscleGroup || !exercise.exerciseName"
    [class.pointer-events-none]="!muscleGroup || !exercise.exerciseName"
  >
    Delete Exercise
  </button>
</div>
