<div #SearchBar class="flex mx-auto my-2 items-center justify-center">
  <input
    type="search"
    placeholder="Search foods..."
    [(ngModel)]="mealSearch"
    class="search-meal self-center w-1/2 h-8 rounded-xl mr-2 focus:outline-none text-sm px-8 shadow-sm border-2 border-gray-200"
  />
  <button
    class="bg-blue-500 border border-blue-750 shadow-sm h-7 w-7 rounded-full overflow-hidden text-white flex items-center justify-center hover:bg-blue-700 hover:border-blue-900 hover:shadow-md hover:scale-102"
    (click)="Lookup(mealSearch)"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      class="h-5 w-5"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M5 13l4 4L19 7"
      ></path>
    </svg>
  </button>
</div>
<div class="search-list overflow-auto max-h-[calc(100vh-15.75rem)]">
  <div
    *ngFor="let meal of meals"
    class="meal-tile bg-zinc-100 border border-zinc-300 mt-3 mx-6 p-4 rounded-lg shadow-md transition-all duration-200 transform hover:scale-105 hover:shadow-lg"
    (click)="openFoodDetails(meal)"
  >
    <h5 class="meal-title text-md font-bold text-blue-900 mb-2 truncate">
      <span *ngIf="meal.brandName">{{ meal.brandName }} - </span>
      {{ meal.description }}
      <span *ngIf="meal.packageWeight">- {{ meal.packageWeight }}</span>
    </h5>
    <p class="meal-ingredients text-xs text-zinc-600">
      {{ meal.ingredients }}
    </p>
  </div>
  <div
    *ngIf="submitButtonPressed && !loading && meals.length === 0"
    class="bg-red-200 border border-red-400 text-red-700 px-3 py-2 rounded mt-3 mx-6"
    role="alert"
  >
    <strong class="font-bold">Warning!</strong><br />
    <span>No foods found.</span>
  </div>
</div>
