<body class="h-screen bg-zinc-300 text-center">
  <div class="flex justify-center">
    <div
      class="relative box-border m-2 bg-neutral-50 w-3/12 h-[calc(100vh-16px)] rounded-lg shadow-2xl overflow-auto"
    >
      <div #ProfileHeader>
        <a>
          <h3
            routerLink="/user-settings"
            class="absolute top-0 right-3 mt-3 text-sm text-orange-700 hover:cursor-default px-1 py-1 border border-orange-700 rounded hover:bg-orange-700 hover:text-white transition-colors duration-200"
          >
            EDIT
          </h3>
        </a>
        <h1 class="justify-center text-5xl font-bold text-blue-800 pb-4 pt-14">
          Profile
        </h1>
      </div>
      <div #ProfilePicture>
        <img
          class="w-8/12 h-8/12 rounded-full mx-auto border-4 border-blue-800 mb-7 shadow-lg"
          [src]="profileInfo.profileImage"
          alt="Avatar"
        />
      </div>
      <div
        #NameAndStats
        class="w-5/6 mx-auto border border-zinc-300 rounded-md shadow-md p-2"
      >
        <h1 class="justify-center text-2xl font-bold text-blue-900 truncate">
          {{ profileInfo.firstName }} {{ profileInfo.lastName }}
        </h1>
        <h1>{{ profileInfo.gender }}, {{ profileInfo.age }} years</h1>
        <h1 class="justify-center text-blue-950">
          {{ formattedHeight }} | {{ profileInfo.weight }} lbs
        </h1>
      </div>
      <div #Goals class="pt-8">
        <div
          class="w-5/6 mx-auto border border-zinc-300 rounded-lg shadow-md p-2"
        >
          <h1 class="text-xl text-blue-900 underline font-bold">Goals</h1>
          <ul class="list-none text-blue-950">
            <li *ngFor="let goal of profileInfo.goals">{{ goal }}</li>
          </ul>
        </div>
      </div>
      <div #Steaks class="pt-8">
        <div
          class="w-5/6 mx-auto p-2 border border-zinc-300 rounded-lg shadow-md"
        >
          <h1 class="text-xl text-blue-900 underline font-bold">Streaks</h1>
          <table class="table-auto text-blue-950 mx-auto">
            <tr>
              <td class="text-right pr-2">Exercise:</td>
              <td class="text-left pl-2">
                {{ profileInfo.exerciseStreak }} Days
              </td>
            </tr>
            <tr>
              <td class="text-right pr-2">Eating Goals:</td>
              <td class="text-left pl-2">
                {{ profileInfo.eatingGoalStreak }} Days
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div
      class="box-border m-2 bg-neutral-50 w-8/12 h-[calc(100vh-16px)] rounded shadow-lg overflow-auto"
    >
      <div #Title class="pt-5">
        <a>
          <h3
            routerLink="/"
            class="absolute top-2 right-16 mt-3 text-orange-700 hover:cursor-default px-1 border border-orange-700 rounded ease-in-out transform hover:bg-orange-700 hover:text-white transition-colors duration-200"
          >
            Sign Out
          </h3>
        </a>
        <h1 class="justify-center text-6xl font-bold text-blue-800">
          Fitness Tracker
        </h1>
        <h1 class="justify-center text-2xl text-orange-700 font-bold pt-4">
          Welcome {{ profileInfo.firstName }}!
        </h1>
      </div>
      <div #Date class="pt-2">
        <h1 class="justify-center text-base text-blue-950 font-bold">
          {{ formattedDate }}
        </h1>
      </div>
      <div #AddItems class="pt-6">
        <button
          routerLink="/add-exercise"
          class="w-48 text-center rounded-3xl border font-bold p-2.5 text-white shadow-lg transition duration-500 ease-in-out transform bg-gradient-to-r from-blue-500 to-blue-700 hover:from-blue-700 hover:to-blue-900 hover:-translate-y-0.5 hover:scale-105 cursor-pointer mr-16"
        >
          Add Exercise
        </button>
        <button
          routerLink="/add-meal"
          class="w-48 text-center rounded-3xl border font-bold p-2.5 text-white shadow-lg transition duration-500 ease-in-out transform bg-gradient-to-r from-blue-500 to-blue-700 hover:from-blue-700 hover:to-blue-900 hover:-translate-y-0.5 hover:scale-105 cursor-pointer"
        >
          Add Meal
        </button>
      </div>
      <div #SummaryNav class="pt-6">
        <h1 class="text-lg text-blue-950 font-bold">Summary</h1>
        <div
          class="w-1/2 mx-auto rounded-full border border-zinc-300 p-2 shadow-sm"
        >
          <ul class="flex">
            <li class="flex-1 mr-2">
              <a
                (click)="selectSummary('Daily')"
                [ngClass]="
                  selectedSummary === 'Daily'
                    ? 'text-center block border border-blue-900 rounded-3xl py-1 px-2 transform bg-gradient-to-r from-blue-500 to-blue-700 hover:from-blue-700 hover:to-blue-900 text-white text-sm'
                    : 'text-center block border border-white rounded-3xl hover:border-gray-200 text-blue-700 hover:bg-gray-200 py-1 px-2 text-sm'
                "
                >Daily</a
              >
            </li>
            <li class="flex-1 mr-2">
              <a
                (click)="selectSummary('Monthly')"
                [ngClass]="
                  selectedSummary === 'Monthly'
                    ? 'text-center block border border-blue-900 rounded-3xl py-1 px-2 transform bg-gradient-to-r from-blue-500 to-blue-700 hover:from-blue-700 hover:to-blue-900 text-white text-sm'
                    : 'text-center block border border-white rounded-3xl hover:border-gray-200 text-blue-700 hover:bg-gray-200 py-1 px-2 text-sm'
                "
                >Monthly</a
              >
            </li>
            <li class="text-center flex-1">
              <a
                (click)="selectSummary('Yearly')"
                [ngClass]="
                  selectedSummary === 'Yearly'
                    ? 'text-center block border border-blue-900 rounded-3xl py-1 px-2 transform bg-gradient-to-r from-blue-500 to-blue-700 hover:from-blue-700 hover:to-blue-900 text-white text-sm'
                    : 'text-center block border border-white rounded-3xl hover:border-gray-200 text-blue-700 hover:bg-gray-200 py-1 px-2 text-sm'
                "
                >Yearly</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div #SummaryDisplay class="pt-3">
        <div
          class="w-5/6 h-[55vh] mx-auto p-2 border border-zinc-300 rounded-lg shadow-lg"
        >
          <DailySummaryComponent
            *ngIf="selectedSummary === 'Daily'"
          ></DailySummaryComponent>
          <MonthlySummaryComponent
            *ngIf="selectedSummary === 'Monthly'"
          ></MonthlySummaryComponent>
          <YearlySummaryComponent
            *ngIf="selectedSummary === 'Yearly'"
          ></YearlySummaryComponent>
        </div>
      </div>
    </div>
  </div>
</body>
