.main-container {
  display: flex;
  width: 100%;
  position: relative;
}

.ProfileSection {
  width: 23%;
  transition: transform 0.7s ease-in-out;
}

.ProfileSection.open {
  width: 23%;
  position: relative;
  transform: translateX(0);
}

.ProfileSection:not(.open) {
  transform: translateX(0);
}

.HomeSection {
  width: 73%;
  transition: none;
}

.toggle-button {
  position: absolute;
  top: 0;
  z-index: 100;
}

.ProfileSection.open ~ .toggle-button {
  display: none;
}

#SignOutButton {
  transition: opacity 0.5s linear;
  opacity: 1;
}

#SignOutButton.hide {
  opacity: 0;
  pointer-events: none;
}

@media (max-width: 1023px) {
  .ProfileSection,
  .HomeSection {
    margin: 0;
    padding: 0;
    height: auto;
  }

  body {
    display: flex;
    justify-content: center;
  }

  .ProfileSection {
    width: 0;
    overflow: hidden;
  }

  .ProfileSection.open {
    width: 70%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 50;
    transform: translateX(0);
  }

  .ProfileSection:not(.open) {
    transform: translateX(-100%);
  }

  .HomeSection {
    width: 100%;
  }

  .Profile-Picture {
    width: 22%;
    height: auto;
  }

  .summaries {
    height: 25em;
  }

  .yearly-summary-height {
    height: 25em;
  }
}

@media (max-width: 799px) {
  .Profile-Picture {
    width: 30%;
    height: auto;
  }
}

@media (max-width: 699px) {
  .hide-on-small {
    display: none;
  }
  .show-on-small {
    display: inline;
  }
}

@media (min-width: 700px) {
  .hide-on-small {
    display: inline;
  }
  .show-on-small {
    display: none;
  }
}

@media (max-width: 600px) {
  #Title {
    font-size: 2.5rem;
  }

  #WelcomeMessage {
    font-size: 1.5rem;
  }

  #Date {
    font-size: 1rem;
  }

  #TitleImage {
    width: 65%;
    height: 65%;
  }

  .add-buttons {
    font-size: 0.75rem;
    width: 7rem;
  }

  .Profile-Picture {
    width: 40%;
    height: auto;
  }
}

@media (max-width: 450px) {
  #Title {
    font-size: 2.2rem;
  }

  #TitleImage {
    width: 70%;
    height: 70%;
  }

  .summary-button {
    font-size: 0.75rem;
  }

  .summary-bubble {
    padding: 0.5rem;
    width: 65%;
  }

  .summaries {
    height: 39em;
  }

  .yearly-summary-height {
    height: 21em;
  }
}

@media (max-width: 390px) {
  #SignOutButtonRoute {
    right: 1rem;
  }
}
