<div class="flex mx-auto my-2 items-center justify-center">
  <h1 class="font-bold text-blue-800 text-lg">Favorite Foods</h1>
</div>
<div class="favorite-list overflow-auto max-h-[calc(100vh-15.75rem)] pb-5">
  <div
    *ngFor="let meal of favoriteMeals"
    class="flex items-center justify-center"
    (click)="openFoodDetails(meal)"
  >
    <div
      class="meal-tile flex-grow bg-zinc-100 border border-zinc-300 mt-3 mx-6 p-4 rounded-lg shadow-md transition-all duration-200 transform hover:scale-105 hover:shadow-lg relative flex items-center"
    >
      <div class="mr-3 flex-shrink-0">
        <img [src]="starImage" class="star-image" width="30" height="30" />
      </div>
      <div class="flex-grow text-center -ml-11">
        <h5
          class="meal-title text-md font-bold text-blue-900 mb-2 truncate mx-auto w-10/12"
        >
          {{ meal.description }}
          <span *ngIf="meal.packageWeight">- {{ meal.packageWeight }}</span>
        </h5>
        <p class="meal-ingredients text-xs text-zinc-600 mx-auto w-10/12">
          {{ meal.ingredients }}
        </p>
      </div>
    </div>
  </div>
  <div
    *ngIf="favoriteMeals.length === 0"
    class="bg-red-200 border border-red-400 text-red-700 px-3 py-2 rounded mt-3 mx-6"
    role="alert"
  >
    <strong class="font-bold">Warning!</strong><br />
    <span>No food found.</span>
  </div>
</div>
