<div #Exercise>
  <h1>Exercise</h1>
  <div #ExerciseBar>
    <div class="relative pt-1 mx-5 flex justify-center">
      <div
        class="bg-gray-200 rounded-full dark:bg-gray-700 w-full flex flex-row"
      >
        <div
          *ngFor="let percentage of exercisePercentage; let i = index"
          [style.width.%]="percentage"
          [ngClass]="[
            colors[i % colors.length],
            i === 0 ? 'rounded-l-full' : '',
            i === exercisePercentage.length - 1 ? 'rounded-r-full' : ''
          ]"
          class="text-xs font-medium text-center p-0.5 leading-none inline-block"
          class="text-xs font-medium text-center p-0.5 leading-none inline-block"
        >
          {{ percentage }}%
        </div>
      </div>
    </div>
  </div>
  <div class="relative pt-1 mx-5 flex justify-center">
    <div class="w-10/12">
      <div #ColorKey class="flex justify-center">
        <div class="flex flex-row">
          <div
            *ngFor="let exercise of exercises; let i = index"
            class="flex items-center mr-4"
          >
            <div [class]="colors[i % colors.length] + ' w-3 h-3 mr-2'"></div>
            <span class="text-xs">{{ exercise }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div #Eating class="mt-5">
  <h1>Eating Goals</h1>
  <div *ngFor="let macro of macros; let i = index" class="mx-5 mb-3">
    <h1 class="text-left mb-1">{{ macro }}</h1>
    <div class="flex justify-center">
      <div class="bg-gray-200 rounded-full dark:bg-gray-700 w-full">
        <div
          [class]="
            eatingPercentage[i] > 100
              ? 'bg-red-600 text-xs font-medium text-red-100 text-center p-0.5 leading-none rounded-full'
              : 'bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full'
          "
          [style.width]="
            eatingPercentage[i] > 100 ? '100%' : eatingPercentage[i] + '%'
          "
        >
          {{ eatingPercentage[i] }}%
        </div>
      </div>
    </div>
  </div>
</div>
