<body class="h-screen text-center bg-zinc-300 overflow-auto">
  <div class="bg-neutral-50 rounded-lg shadow-2xl h-[calc(100vh-40px)] m-5 p-5">
    <div #Title>
      <div class="min-h-[50px] relative mt-5 -mb-4">
        <div class="flex justify-between items-center">
          <button
            routerLink="/"
            class="button absolute left-4 bg-zinc-300 hover:bg-zinc-400 text-white font-bold py-2 px-4 rounded bg-gradient-to-r from-orange-500 to-orange-700"
          >
            <span>Back</span>
          </button>
          <h1
            class="text-6xl font-bold text-blue-800 absolute left-1/2 transform -translate-x-1/2"
          >
            Settings
          </h1>
        </div>
      </div>
    </div>

    <div class="m-4 grid grid-cols-8 h-[calc(100vh-10rem)]">
      <div class="col-span-5 mx-3">
        <div
          class="border border-zinc-300 rounded-lg shadow-lg col-span-5 p-4 h-[50%] mb-4"
        >
          <personal-information></personal-information>
        </div>
        <div
          class="border border-zinc-300 rounded-lg shadow-lg col-span-5 p-4 h-[25%] mb-4"
        >
          <contact-information
            [originalContactInformation]="userSettings.contactInformation"
            (contactInformationChange)="updateContactInformation($event)"
          ></contact-information>
        </div>
        <div
          class="border border-zinc-300 rounded-lg shadow-lg col-span-8 p-4 h-[20%]"
        >
          <account-management></account-management>
        </div>
      </div>
      <div class="col-span-3 mx-3">
        <div
          class="border border-zinc-300 rounded-lg shadow-lg col-span-3 p-4 h-[30%] mb-4"
        >
          <physical-measurements></physical-measurements>
        </div>
        <div
          class="border border-zinc-300 rounded-lg shadow-lg col-span-3 p-4 h-[45%]"
        >
          <activity-goal></activity-goal>
        </div>
        <div class="flex items-center justify-center h-[20%] mt-4 space-x-10">
          <button
            class="rounded-lg border p-2 w-32 mr-2 text-3xl font-bold bg-gradient-to-r from-blue-500 to-blue-700 text-white hover:from-blue-700 hover:to-blue-900 shadow-lg transition duration-500 ease-in-out transform hover:-translate-y-0.5 hover:scale-105"
            (click)="saveSettings()"
          >
            Save
          </button>
          <button
            class="rounded-lg border p-2 w-32 mr-2 text-3xl font-bold bg-gradient-to-r from-orange-500 to-orange-700 text-white hover:from-orange-700 hover:to-orange-900 shadow-lg transition duration-500 ease-in-out transform hover:-translate-y-0.5 hover:scale-105"
            (click)="cancelSettings()"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</body>
