<div
  class="flex flex-row items-center justify-center text-center bg-gradient-to-r from-blue-500 to-blue-700 pb-3 shadow-lg"
>
  <h1 class="title text-3xl font-extrabold text-white mt-4">Update Password</h1>
  <button
    class="absolute top-3 right-3 bg-red-500 hover:bg-red-700 text-xs font-medium py-1 px-2 rounded-full text-white"
    (click)="closeUpdatePassword()"
  >
    X
  </button>
</div>
<div class="grid place-items-center h-full mx-8 -mt-3">
  <div class="flex flex-col items-start bg-white p-5 rounded-lg shadow-lg">
    <h1 class="text-lg font-bold text-blue-800 mb-2">New Password:</h1>
    <form>
      <input
        [(ngModel)]="newPassword"
        name="newPassword"
        class="rounded-lg border p-2.5 text-sm bg-white text-blue-950 focus:ring-2 focus:ring-blue-500 w-full mb-5 shadow-lg transition duration-500 ease-in-out transform hover:-translate-y-0.5 hover:scale-105"
        type="password"
        placeholder="New Password"
        aria-label="New Password"
        maxlength="50"
        minlength="8"
      />
    </form>
    <h1 class="text-lg font-bold text-blue-800 mb-2">Confirm Password:</h1>
    <form>
      <input
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
        class="rounded-lg border p-2.5 text-sm bg-white text-blue-950 focus:ring-2 focus:ring-blue-500 w-full mb-5 shadow-lg transition duration-500 ease-in-out transform hover:-translate-y-0.5 hover:scale-105"
        type="password"
        placeholder="Confirm Password"
        aria-label="Confirm Password"
        maxlength="50"
        minlength="8"
      />
    </form>
  </div>
  <div
    *ngIf="errorMessage"
    class="text-sm text-red-500 font-bold text-center -mt-10 -mb-10 mx-8"
  >
    {{ errorMessage }}
  </div>
  <div class="flex justify-center mb-3">
    <button
      class="rounded-lg border p-2.5 w-16 mr-2 text-sm bg-gradient-to-r from-blue-500 to-blue-700 text-white hover:from-blue-700 hover:to-blue-900 shadow-lg transition duration-500 ease-in-out transform hover:-translate-y-0.5 hover:scale-105"
      (click)="savePassword()"
      [class.opacity-50]="newPassword !== confirmPassword"
      [class.pointer-events-none]="newPassword !== confirmPassword"
      [disabled]="newPassword !== confirmPassword"
    >
      Save
    </button>
  </div>
</div>
