<body class="h-screen text-center bg-zinc-300 overflow-auto">
  <div class="bg-neutral-50 rounded-lg shadow-lg h-[calc(100vh-40px)] m-5">
    <div #Title>
      <div class="min-h-[75px]">
        <div class="flex justify-between items-center relative">
          <button routerLink="/" class="button absolute left-4">
            <span>Back</span>
          </button>
          <div class="flex flex-grow justify-center mt-2">
            <h1 class="text-6xl font-bold text-blue-800">Exercise</h1>
          </div>
        </div>
      </div>
    </div>

    <div #MainBody>
      <div class="grid grid-cols-8 gap-4 m-4">
        <div
          class="border border-zinc-300 rounded-lg shadow-sm h-[calc(100vh-150px)] col-span-3 row-span-2 overflow-y-auto"
        >
          <workout-list></workout-list>
        </div>
        <div
          class="border border-zinc-300 rounded-lg shadow-sm col-span-5"
        ></div>
        <div
          class="border border-zinc-300 rounded-lg shadow-sm min-h-[300px] col-span-5"
        ></div>
      </div>
    </div>
  </div>
</body>
